<div class="sidenav-menu">

  <figure class="user-data">
    <span>
      <img *ngIf="pessoa.foto" src="{{pessoa.foto}}" alt="{{pessoa.nome}}">
      <img *ngIf="!pessoa.foto" src="/assets/images/avatar.png" alt="">
    </span>
    
    <figcaption>
      Bem vindo <b>{{pessoa.nome}}</b>!
    </figcaption>
  </figure>

  <ul class="links-list">
    <li><a routerLink="/dashboard" routerLinkActive="active"><i class="material-icons">dashboard</i> Dashboard</a></li>
    <li><a routerLink="/eventos" routerLinkActive="active"><i class="material-icons">assignment</i> Eventos</a></li>
    <li><a routerLink="/meus-eventos" routerLinkActive="active"><i class="material-icons">assignment</i> Meus Eventos</a></li>
    <li><a routerLink="/noticias" routerLinkActive="active"><i class="material-icons">speaker_notes</i> Notícias</a></li>
    <li><a routerLink="/noticiasadmin" routerLinkActive="active"><i class="material-icons">speaker_notes</i> Notícias Admin</a></li>
    <li><a routerLink="/perfil" routerLinkActive="active"><i class="material-icons">person</i> Perfil</a></li>
    <li><a href="javascript:void(0)" (click)="sair()"><i class="material-icons">arrow_back</i> Sair</a></li>
  </ul>
  
  <h1 class="main-logo">
    <a routerLink="/">
      <img src="/assets/images/logo.png" alt="FollowUs" /> <br>
      FollowUs
    </a>
  </h1>
</div>