.main-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 300ms ease-in-out;
  background-color: $default-brown;

  &.transparent {
    background-color: transparent;
  }
  
  a {
    color: white;
    text-decoration: none;
    // font-weight: normal;
  }

  .header-logo {
  
    a {
      display: block;
      font-size: 16px;
    }
    
    img {
      display: inline-block;
      height: 54px;
      width: auto;
      margin: 3px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .header-links {
    margin-left: auto;

    li {
      display: inline-block;
      margin: 0 2px;
    }

    a {
      transition: background-color 300ms ease-in-out;
      padding: 10px 20px;
      font-size: 16px;

      &:hover {
        background-color: rgba($color: #000000, $alpha: .5);
      }

      i {
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 5px;
      }
    }
  }
}