$default-blue: #4878A8;
$default-dark-blue: #3F51B5;

$default-purple: #4F046F;

$default-brown: #781800;

$default-orange: #F8642F;

$default-green: #48A94C;

$default-red: #EA433A;

$default-dark-gray: rgba(0,0,0,.87);
$default-gray: #3c4858;
$default-light-gray: #a9afbb;