<h1 mat-dialog-title>Editar perfil</h1>
<div mat-dialog-content>
  <div class="default-grid">
    <div class="col-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome Completo" id="nome" name="nome" [(ngModel)]="pessoa.nome">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="Idade" id="idade" name="idade" [(ngModel)]="pessoa.idade">
      </mat-form-field>
    </div>
    <div class="col-4">          
      <mat-form-field>
        <mat-select placeholder="Tipo de esportista" id="tipoEsportista" name="tipoEsportista" [(ngModel)]="pessoa.tipoEsportista">
          <mat-option value="Corredor">
            Corredor
          </mat-option>
          <mat-option value="Caminhante">
            Caminhante
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="image-input">
  <figure class="input-data">
    <span>
      <img *ngIf="pessoa.foto" src="{{pessoa.foto}}" alt="{{pessoa.nome}}">
      <img *ngIf="!pessoa.foto" src="/assets/images/avatar.png" alt="">
    </span>
  </figure>

  <label for="foto"><i class="material-icons">cloud_upload</i> Escolher imagem</label>
  <input type="file" name="foto" id="foto" (change)="handleFileSelect($event)">
</div>

<div mat-dialog-actions>
  <div class="text-center" style="width: 100%;">
    <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
    <button mat-button color="primary" (click)="atualizarPessoa()">Salvar</button>
  </div>
</div>