<section class="inner-container perfil-container">

  <div class="default-grid">
    <div class="col-4">
      <mat-card class="user-image">
        <figure>
          <img *ngIf="pessoa.foto" src="{{pessoa.foto}}" alt="{{pessoa.nome}}">
          <img *ngIf="!pessoa.foto" src="/assets/images/avatar.png" alt="">
        </figure>
      </mat-card>
    </div>

    <div class="col-8">
      <mat-card class="user-data">

        <div class="default-grid">
          <div class="col-8">
            <h4>{{pessoa.nome}}</h4>
            <mat-list role="list">
              <mat-list-item role="listitem">Nome completo: <b>{{pessoa.nome}}</b></mat-list-item>
              <mat-list-item role="listitem">Idade: <b>{{pessoa.idade}} anos</b></mat-list-item>
              <mat-list-item role="listitem">Tipo de esportista: <b>{{pessoa.tipoEsportista}}</b></mat-list-item>
            </mat-list>
          </div>
          <div class="col-4">
            <button mat-fab color="primary" (click)="openDialog()"><i class="material-icons">edit</i></button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</section>