<section class="main-banner" id="main-banner">

  <div class="banner-content">

    <h3><span>Vá longe com</span> FollowUs!</h3>

    <p>
      O lugar perfeito para quem quer se movimentar :) <br>
      Entre, caminhe e corra com várias pessoas próximas a você!!!
    </p>
    
    <button mat-raised-button color="primary" routerLink="/signup">Cadastre-se</button>
  </div>

</section>

<section class="home-description-cards">

  <div class="container">

    <p class="cards-list-title">Com <span>FollowUs</span> você:</p>

    <div class="default-grid">
  
      <div class="col-4">
        <mat-card>
          <span class="card-icon">
            <i class="material-icons">directions_walk</i>
          </span>

          <h4 class="card-title">Caminha</h4>

          <p class="card-description">
            Caminhe com seus amigos ou encontre pessoas novas para caminhar
          </p>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <span class="card-icon">
            <i class="material-icons">directions_run</i>
          </span>

          <h4 class="card-title">Corre</h4>

          <p class="card-description">
            Participe de corridas próximas a você com diversos grupos
          </p>
        </mat-card>
      </div>
      <div class="col-4">
          <mat-card>
            <span class="card-icon">
              <i class="material-icons">mood</i>
            </span>

            <h4 class="card-title">Se Diverte</h4>

            <p class="card-description">
              Faça exercícios e divirta-se conhecendo novas pessoas
            </p>
          </mat-card>
      </div>
  
    </div>

  </div>

</section>

<section class="home-other-info">
  <div class="container">

    <div class="inner-content">
      <div class="info-content">
        <h4 class="info-title">Faça Exercícios</h4>
        <p>
          A caminhada e a corrida podem ser praticadas por qualquer pessoa, até mesmo por crianças e idosos,
          a sua pratica também é importante para melhorar o humor e sensação de bem estar. <br>
          Se você quer sair do sedentarismo e começar a praticar uma atividade física, venha para a FollowUs e divirta-se :)
        </p>
    
        <button mat-raised-button color="primary" routerLink="/signup">Entre para o FollowUs</button>
      </div>

      <img src="/assets/images/runner-flat.png" alt="" class="info-image">
    </div>
  </div>
</section>