<div id="outer-container">
  <div class="loader-container">
    <mat-spinner></mat-spinner>
  </div>
  
  <!-- Main Header -->
  <app-header *ngIf="checkHomeLocation()"></app-header>
  
  <!-- Main Content -->
  <main class="main-container" [ngClass]="{'home-container':checkHomeLocation()}">
    <mat-sidenav-container>
      <mat-sidenav mode="side" [opened]="true" *ngIf="checkNoMenuLocations()">
        <app-sidenav-menu></app-sidenav-menu>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  
  <!-- Main Footer -->
  <app-footer *ngIf="checkHomeLocation()"></app-footer>
</div>
