<section class="access-page">

  <mat-card class="form-container">

    <figure class="logo-image">
      <img src="/assets/images/logo.png" alt="FollowUs" />

      <figcaption>
        Follow Us
      </figcaption>
    </figure>

    <form class="content-form">
      <mat-form-field>
        <input type="text" id="nome" name="nome" matInput placeholder="Nome completo" [(ngModel)]="pessoa.nome">
      </mat-form-field>
      <mat-form-field>
        <input type="number" id="idade" name="idade" matInput placeholder="Idade" [(ngModel)]="pessoa.idade">
      </mat-form-field>
      <mat-form-field>
        <mat-select id="tipoEsportista" name="tipoEsportista" placeholder="Tipo de esportista" [(ngModel)]="pessoa.tipoEsportista">
          <mat-option value="Corredor">
            Corredor
          </mat-option>
          <mat-option value="Caminhante">
            Caminhante
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="email" id="email" name="email" matInput placeholder="E-mail" [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" id="password" name="password" matInput placeholder="Senha" [(ngModel)]="user.password">
      </mat-form-field>
      <button mat-raised-button class="action-button" color="primary" (click)="novoUsuario()">Cadastrar</button>
      <p class="signup-text">ou <a routerLink="/login">clique aqui</a> e acesse o site</p>
    </form>

  </mat-card>

</section>